/* Main Section */
#hero {
    background-image: url(../images/places/ocean.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;
}
#hero-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.8);
    position: relative;
    top: 200px;
    padding: 2em 0;
}
#hero-content h1 {
    font-size: 3em;
    font-family: 'Raleway',sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
}
#hero-content p {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 3rem;
}
#hero-content a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: rgb(255, 255, 60);
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.8);
    transition: 0.5s;
}
#hero-content a:hover {
    color: white;
    background-color: rgb(250, 204, 0);
}
/* Highlight Section */
.destination img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}
.destination {
    width: 33%;
    margin: 0 20px;
}
#destinations {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
}
#highlight{
    padding: 40px 0;
    background: linear-gradient(0deg,rgb(227,255,253),rgb(151, 245, 239));
}
#highlight h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
    font-size: 2rem;
    margin: 0;
}
.destination p {
    text-align: center;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
    font-size: 1.25rem;
}
.destination strong {
    color: rgb(0,160,117);
}