body {
    font-family: 'Quicksand',sans-serif;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
header ul {
    display: flex;
}
header li {
    margin-left: 20px;
}
.header-links{
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: 1.25rem;
    padding: 0.5em 1em;
    text-shadow: 1px 1px 2px black;
    border-radius: 8px;
    transition: 0.5s;
}
#page-logo a {
    text-decoration: none;
    font-size: 3em;
    font-family: 'Oleo script',sans-serif;
    color: rgb(255, 247, 142);
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    transition: 0.5s;
}
#page-logo a:hover {
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.header-links:hover {
    background-color: rgb(255, 251, 0);
    color: black;
}
/* Footer section */
footer {
    background: linear-gradient(0deg, rgb(47, 47, 47), rgb(0,0,0));
    padding: 24px 0;
}
footer li {
    width: 80px;
    margin-left: 40px;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer li img {
    width: 100%;
    transition: 1.5s;
}
footer li img:hover {
    transform: rotate(360deg);
}